body    

{
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}
header {
    background-color: #adb9b1;
    color: #ffffff;
    text-align: center;
    padding: 10px;
}
nav {
    background-color: #000000;
    padding: 10px;
    text-align: center;
}
nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
}
nav a:hover {
    text-decoration: underline;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}
p {
    line-height: 1.6;}